<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">Task Details</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><form class="navbar-search pull-left">
  			<input type="text" class="search-query" placeholder="Search">
  		  </form>
  	  </li>
    </ul>
  </div>
</div>
<div class="container">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert()">{{alert.msg}}</alert>
	<form class="form-inline">
		<label>Enter New Task</label>
		<input type="text" placeholder="Type task.." ng-model='task'>
		<input class="input-xlarge" type="text" placeholder="Type details.." ng-model='taskDetail'>
		<input type="text" placeholder="DeadLine.." ui-date="{ dateFormat: 'yy-mm-dd' }" ui-date-format ng-model="deadLine">
		<button type="submit" class="btn" ng-click="addTask()">Add Task</button>
	</form>
	<hr>
	<table class="table">
		<thead>
			<th>Name</th>
			<th>Detail</th>
			<th>Progress</th>
			<th>Deadline</th>
			<th>Tasks</th>
		</thead>
		<tbody ng-repeat='tasks in taskList'>
			<td>{{tasks.name}}</td>
			<td>{{tasks.details}}</td>
			<td>
				<!--<input class="input-mini" type="text" ng-model='' ng-change="updateTaskProgress(tasks.id,tasks.progress)">-->
				{{tasks.progress}}
			</td>
			<td>{{tasks.deadline}}</td>
			<td>
				<div class="btn-group">
				    <a class="btn" ng-click="archiveTasks(tasks.id)"><i class="icon-book"></i></a>
				    <a class="btn" ng-click="deleteTask(tasks.id)"><i class="icon-trash"></i></a>
				 </div>
			</td>
		</tbody>
	</table>
</div>